{{- $config := .Site.Params.comments -}}

{{- $enabledGlobally := $config.enable -}}
{{- $disabledGlobally := ( not $enabledGlobally ) -}}

{{ $optOut := ( eq .Params.comments false ) }}
{{ $optIn := .Params.comments }}

{{- $enableConditionOne := ( and $disabledGlobally $optIn ) -}}
{{- $enableConditionTwo := ( and $enabledGlobally ( not $optOut ) ) -}}

{{- if ( or $enableConditionOne $enableConditionTwo ) -}}

{{- $disqusEnabled := .Site.DisqusShortname -}}
{{- $issoEnabled := $config.isso.enable -}}
{{- $utterancesEnabled := $config.utterances.enable -}}

{{- if ( $disqusEnabled | or $issoEnabled | or $utterancesEnabled ) -}}
<section id='comments' class='comments'>
  <div class='container sep-before'>
    <div class='comments-area'>
    {{- if $disqusEnabled -}}
      {{ partial "comments/disqus" . }}
    {{- else if $issoEnabled -}}
      {{ partial "comments/isso" . }}
    {{- else if $utterancesEnabled -}}
      {{ partial "comments/utterances" . }}
    {{- end -}}
    </div>
  </div>
</section>
{{- end -}}

{{- end -}}
